<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<h1 th:text="${book.title}"> </h1>
<p th:text="'Description:' + ${book.description}"></p>
<p th:text="'Language:' + ${book.getLanguage()}"></p>
<p th:text="'Number of Pages:' + ${book.getNumberOfPages()}"></p>
<a th:href="'/books/'+${book.id}+'/edit'">Edit Book</a>
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete">
</body>
</html>