<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en" th:fragment="header">
<head>

    <meta charset="UTF-8">
    <title>Languages</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<div class="container">
    <!--/*@thymesVar id="errors" type="java.util.List<>"*/-->
    <div th:if="${errors}" class="alert alert-warning">
        <p th:each="e: ${errors}" th:utext="${ e }"> </p>
    </div>
    <ul>
        <li th:text="'Name: '+ ${language.name}"></li>
        <li th:text="'Creator: '+ ${language.creator}"></li>
        <li th:text="'Current Version ' + ${language.currentVersion}"></li>
    </ul>

    <a th:href="'/languages/edit/' + ${language.getId()}" th:text="Edit"></a>
    <a href="/languages">Back to dashboard</a>
</div>

</body>
</html>